@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --mainBlue: #009dae;
  --lightBlue: #c2fff9;
  --Dark: #233038;
  --lightDark: #487997;
  --pastBlue: #295d63;
  --currentGold: #ffe652;
  --headerBlack: #2d3b44;
  --asideBlack: #23333e;

  --fontBig: 28px;
  --ffBold: 900;
  --fontMedium: 18px;
  --fontSmall: 5px;
  --smallPadding: 20px;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* Calender */

.day-active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.calender-number {
  text-align: left !important;
  font-size: 1.2rem !important;
}

.day-active p {
  text-align: center;
  width: 100%;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  font-size: 0.6rem;
}

/* Header */

header {
  padding: var(--smallPadding);
  width: 100%;
  background-color: var(--mainBlue);
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: var(--fontBig) !important;
  justify-content: center;
  color: white;
}

/* Main - Aside */

main {
  background-color: var(--Dark);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

aside {
  width: 100%;
  height: 100vh;
  background-color: var(--headerBlack);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-main {
display: none;
}

/* Todays date */
#render-day {
  margin-top: 4rem;
  font-size: var(--fontMedium);
  font-weight: 600;
  color: white;
  margin-bottom: 1rem;
}

/* Todos */

.editForm{
  display: none;
}

.editForm form{
  padding: 1rem;
  color: white;
}

.editForm input {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background-color: var(--Dark);
  color: white;
}

.editform input[type="title"], 
.editform input[type="text"]
 {
  color: white !important;
  padding-left: 0.2rem;
}

.editform input[type="date"] {
  color: white !important;
  padding-left: 0.2rem;
}

.editForm button {
  color: black;
}

#todo1 {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
  display: none;
}

.todo-btn {
  background-color: #23333e;
  color: white;
  width: 14rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 4px;
}

.todo-btn:hover {
  background-color: var(--mainBlue);
}

.date-input[type="date"] {
  color: var(--Dark);
  padding-left: 0.2rem;
}

.todo-input[type="title"],
.todo-input[type="text"] {
  color: var(--Dark);
  padding-left: 0.2rem;
  height: 2rem;
}

input {
  width: 50%;
}

#newSubmit input,
#editSubmit input,
#removeSubmit input {
  display: block;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  margin: 0 auto;
  border-radius: 4px;
}

form {
  color: black;
}

.add-todo {
  color: white;
}

.add-todo:hover {
  color: #009dae;
}

.block1 {
  display: block !important;
}

.todo {
  margin-top: 1.2rem;
  width: 12rem;
}

.todoItem {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  background-color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  flex-wrap: wrap;
}

.todoItem:hover .hoverDiv{
  display: block;
}

.todo h2 {
  color: white;
  font-weight: var(--ffBold);
}

.todo p {
  padding: 0.3rem;
  background-color: white;
  min-width: 8rem;
}

.hoverDiv {
  display: none;
  background-color: white;
  padding: 0.2rem;
  width: 100%;
}

@media screen and (min-width: 810px) {

  /* Header */

  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Main - Aside */

  aside {
    width: 15rem;
    height: 100vh;
    background-color: var(--headerBlack);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    display: flex;
    flex-direction: row;
  }

  .right-main {
    width: 100%;
    display: block;
  }

  /* Todos */

  #todo1 {
    background-color: #23333e;
  }

  input {
    width: 92%;
  }

  ::placeholder {
    padding-left: 0.4rem;
  }

  ::-webkit-datetime-edit {
    padding-left: 0.3rem;
  }

  /* Calender */

  .calender-cont {
    width: 100%;
    height: 100%;
    background-color: var(--Dark);
    color: #eee;
    display: flex;
    justify-content: center;
  
  }

  .calender {
    margin-top: 3rem;
} 

  .header-calender {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .header-calender p {
    font-size: 3rem;
    cursor: pointer;
    margin-top: -2.9rem;
  }

  #leftArrow,
  #rightArrow {
    font-size: 1.5rem;
  }

  .header-calender h1 {
    font: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
    margin-top: -2rem;
  }

  .dayshow {
    height: 5rem;
    display: flex;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: -0.1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }

  #calender-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
  }

  #calender-days div {
    font-size: 1.4rem;
    margin: 0.3rem;
    height: 5rem;
    display: flex;
    justify-content: end;
    padding: 0.2rem;
    background-color: #009dae;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    color: #c2fff9;
    transition: background-color 0.2s;
  }

  #calender-days div:hover:not(.today) {
    background-color: var(--lightDark);
    cursor: pointer;
  }

  .prev-date,
  .next-date {
    opacity: 0;
  }

  .today {
    background-color: var(--currentGold) !important;
    color: var(--Dark) !important;
  }

  #leftArrow:hover,
  #rightArrow:hover {
    color: var(--mainBlue);
  }
}

@media screen and (max-width: 1100px) {

  /* Calender */

 .calender {
    margin-top: 3rem;
    background-color: var(--Dark);
  }

  #calender-days {
    gap: 0.1rem;
  }

  #calender-days div {
    width: 4.2rem;
    height: 4.2rem;
    gap: 1rem;
  }

  .veckodagar {
    display: grid;
    gap: 2.2rem;
    margin-left: 1rem;
  }

  .calender-number {
    font-size: 1.2rem !important;
  }

  .day-active p {
    font-size: 0.4rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}