@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --mainBlue: #009DAE;
    --lightBlue: #C2FFF9;
    --Dark: #233038;
    --lightDark: #487997;
    --pastBlue: #295D63;
    --currentGold: #FFE652;
    --headerBlack: #2D3B44;
    --asideBlack: #23333E;


    --fontBig: 28px;
    --ffBold: 900;
    --fontMedium: 18px;
    --fontSmall: 5px;

    --smallPadding: 20px;
}


body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

.white {
    color: white;
}

/* Header */
header {
    padding: var(--smallPadding);
    width: 100%;
    background-color: var(--mainBlue);
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.under-header {
    padding: var(--smallPadding);
    background-color: var(--asideBlack);
    height: 4rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.hamburger-icon {
    color: white;
    font-size: 1.7rem;
}

h1 {
    font-size: var(--fontBig) !important;
    text-align: center;
}

/* Header */

/* Aside - Main */

main {
    background-color: var(--Dark);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.to-do {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 1rem;
}

.list {
    display: none;

}

aside {
    display: none;
}

.calender-container {
    display: none;
}


@media screen and (min-width: 800px) {

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main {
        display: flex;
        flex-direction: row;
    }

    aside {
        width: 12rem;
        height: 100vh;
        background-color: var(--headerBlack);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hamburger-icon {
        display: none !important;
    }

    .under-header {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

    }

    .to-do {
        display: none;
    }

    .todos {
        margin-top: 6rem;
    }


    #date-day {
        margin-top: 4rem;
    }

    #today {
        display: none;
    }

    #todo1,
    #todo2,
    #todo3 {
        width: 12rem;
        height: 3rem;
        background-color: #23333E;
        margin-bottom: 1rem;
        color: white;
    }

    .list {
        display: flex;
        flex-direction: row;
        padding-left: 1rem;
    }

    .list h2 {
        margin-right: 1.6rem;
    }

    .test {
        width: 100%;
    }

    .calender-container {
        display: flex;
        color: white;
        margin-top: 4rem;
        justify-content: center;
    }

    .calender-container td{

    }
}

@media screen and (min-width: 1000px) {}


/* Calender
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    html {
        font-size: 62, 5%;
    }


    .container {
        width: 100%;
        height: 100%;
        background-color: #12121f;
        color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .calender {
        width: 45rem;
        height: 52rem;
        background-color: #222227;
        box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0);

    }

    .month {
        width: 100%;
        height: 12rem;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        text-align: center;

    }

    .month p {
        font-size: 2.5rem;
        cursor: pointer;
    }

    .month h1 {
        font: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin-bottom: 1rem;
    }

    .veckodagar {
        width: 100%;
        height: 5rem;
        padding: 0 0.4rem;
        display: flex;
    }

    .veckodagar div {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        width: calc(44.2rem/7);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .days {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0.2rem;
    }

    .days div {
        font-size: 1.4rem;
        margin: 0.3rem;
        width: calc(40.4rem/7);
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #009dae;
        width: 90px;
        height: 90px;
        border-radius: 10px;
        color: #C2FFF9;
        transition: background-color 0.2s;
    }

    .days div:hover:not(.today) {
        background-color: cornflowerblue;
        border: .2rem solid black;
        cursor: pointer;
    }

    .prev-date,
    .next-date {
        opacity: 0.5;
    }

    .today {
        background-color: greenyellow !important;
    }


     CALENDER BOX STYLING 
    .calenderBox {
        position: relative;
        background-color: var(--mainBlue);
        width: 120px;
        height: 120px;
        border-radius: 10px;
        display: flex;
        color: var(--lightBlue);
    }

    .calenderHover {
        border-radius: 10px;
        background-color: var(--lightDark);
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
    }

    .currentDate {
        background-color: var(--currentGold) !important;
        color: var(--currentBlack) !important;
    }

    .pastDate {
        background-color: var(--pastBlue) !important;
    }

    .date-info {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        height: 100%;
        display: flex;
    }

    #date-number {
        float: right;
    }

    .date-events {
        display: flex;
        flex-grow: 1;
        position: relative;
    }

    .date-events {
        margin-top: 40px;
    }

    .date-events i {
        padding-left: 2px;
        padding-right: 2px;
    }


    @media (min-width: 1024px) {
        .calenderBox {
            width: 160px;
            height: 160px;
        }

        .date-events {
            margin-top: 80px;
        }
    }
    */
/* CALENDER BOX STYLING */